@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
	background-color: $color-bg;
	color: $color-text; 
	font-family: 'Nunito', sans-serif;
}

.form {
	display: block;
	margin: $std-mg-lg;
	padding: $std-pd-xl;
	border-radius: $border-rad-xl;
	background-color: $color-bg-card;
}

.form-group {
	margin: $std-mg-md 0;

	.form-label {
    display: block;
		margin-bottom: 2px;
		font-size: 13px;
	}
}

.std-input {
	width: 100%;
	padding: 8px 10px;
	border: $border-1;
	border-radius: $border-rad-md;
	font-size: 15px;
	transition-duration: $trans-du;
	transition-property: border-color;

	&:focus {
		border-color: $color-primary;
		outline: none;
	}

	&.error {
		border-color: $color-danger;
	}
}

.std-btn {
	padding: 8px 10px;
	border: 2px solid #666;
	border-radius: $border-rad-md;
	font-size: 15px;
	transition-duration: $trans-du;
	transition-property: color, background-color;

	&.btn-primary {
		background-color: $color-primary;
		border-color: $color-primary;
		color: $color-text-inverted;

		&:hover {
			color: $color-primary;
		}
	}

	&.btn-success {
		background-color: $color-success;
		border-color: $color-success;
		color: $color-text-inverted;
		
		&:hover {
			color: $color-success;
		}
	}

	&.btn-warning {
		background-color: $color-warning;
		border-color: $color-warning;
		color: $color-text;
	}

	&.btn-danger {
		background-color: $color-danger;
		border-color: $color-danger;
		color: $color-text-inverted;
		
		&:hover {
			color: $color-danger;
		}
	}

	&.btn-default {
		background-color: $color-addition;
		border-color: $color-addition;
		color: $color-text;
	}

	&:hover {
		background-color: transparent;
	}

	&.disable {
		background-color: $color-disable;
		border-color: $color-disable;
		color: $color-text;

		&:hover {
			background-color: $color-disable;
			color: $color-text;
		}
	}
}

a {
	color: $color-primary;
	text-decoration: none;
	display: inline-block;
	border-bottom: 1px solid $color-primary;
	transition-duration: $trans-du;
	transition-property: color border-color;

	&:hover {
		color: $color-success;
		border-color: $color-success
	}
}
