@mixin media($minmax, $media) {
	@each $size, $resolution in $sizes {
		@if $media == $size {
			@if $minmax == "max" {
				@media only screen and (#{$minmax}-width: #{$resolution}px) {
					@content;
				}
			}

			@if $minmax == "min" {
				@media only screen and (#{$minmax}-width: #{$resolution + 1}px) {
					@content;
				}
			}
		}
	}
}

@mixin preloader-size-sm() {
	.loadingio-spinner-rolling {
		width: 20px;
		height: 20px;
	}

	.ldio div {
		width: 14px;
		height: 14px;
		top: 10px;
		left: 10px;
	}
}

@mixin preloader-params($thickness, $color) {
	.ldio div {
		border: $thickness solid $color;
		border-top-color: transparent;
	}
}