// COMPONENTS
@import "components/alert.scss";
@import "components/btn-favorite.scss";
@import "components/signup-form.scss";
@import "components/signin-form.scss";

@import "components/preloader.scss";
@import "components/userbar.scss";
@import "components/search-bar.scss";
@import "components/user-nav.scss";
@import "components/navigation-main.scss";
@import "components/auth-btns-group.scss";
@import "components/navbar.scss";
@import "components/uadpost-form/select-location.scss";
@import "components/uadpost-form/uadpost-form.scss";
@import "components/img-uploader.scss";
@import "components/uadpost-card.scss";
@import "components/compact-user-card.scss";
@import "components/paginator.scss";
@import "components/uadpost/user-card.scss";
@import "components/uadpost/carousel.scss";
@import "components/uadpost/btn-buy.scss";
@import "components/uadpost/price-container.scss";
@import "components/confirm-popup.scss";
@import "user.area.scss";
@import "components/abstract/clickable-list.scss";
@import "components/uadpost/uadpost-control-panel.scss";
@import "components/slider.scss";
@import "components/search-filters.scss";
@import "components/abstract/info-card.scss";
@import "components/local-menu.scss";
@import "components/order/order-card.scss";
@import "components/uadpost/uadpost-card-micro.scss";
@import "components/order/order-state-filters.scss";

// PAGES
@import "pages/signup.scss";
@import "pages/signin.scss";
@import "pages/search.scss";
@import "pages/view.uadpost.scss";
@import "pages/profile.settings.scss";
@import "pages/user.uadposts.scss";
@import "pages/favourites.scss";
@import "pages/new.order.scss";
@import "pages/order.success.scss";
@import "pages/user.orders.scss";
@import "pages/profile.scss";


.footer {
	display: grid;
	margin-top: $std-mg-xxl * 2;
	width: 100%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;

	.footer-nav {
		.nav-list {
			display: grid;
			grid-template-columns: auto auto auto;
			grid-gap: $std-mg-sm;
			justify-content: space-between;
			font-size: $fsize-sm;

			@include media("max", "md") {
				grid-template-columns: auto auto;
			}

			@include media("max", "sm") {
				justify-content: center;
				grid-template-columns: auto;
			}
		}
	}

	.copyright {
		width: 100%;
		text-align: center;
		margin-top: $std-mg-lg;

		p {
			font-size: $fsize-sm;
			color: $color-text-lite;
		}
	}
}