.dnone {
	display: none !important;
}

.std-row {
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
  gap: $std-mg-lg;
  align-items: center;
}

a.no-decoration,
a.no-decoration:hover {
	border: 0;
	color: $color-text;
}
