$color-primary: #9b5de5;
$color-secondary: #f15bb5;
$color-addition-1: #fee440;
$color-addition-3: #f94144;

$color-text: #444;
$color-text-inverted: #eee;
$color-text-lite: #777;
$color-text-hard: #111;
$color-link: $color-primary;
$color-hover: $color-secondary;
$color-bg: #eee;
$color-bg-card: #fefefe; 
$color-danger: $color-addition-3;
$color-warning: $color-addition-1;
$color-info: #00bbf9;
$color-success: #00f5d4; 

$std-mg-sm: 5px;
$std-mg-md: 10px;
$std-mg-lg: 20px;
$std-mg-xl: 40px;

$std-pd-sm: 5px;
$std-pd-md: 10px;
$std-pd-lg: 20px;
$std-pd-xl: 40px;

$border-rad-sm: 3px;
$border-rad-md: 5px;
$border-rad-lg: 8px;
$border-rad-xl: 10px;

$border-1: 1px solid #aaa;

$shadow-md: 2px 2px 6px 6px rgba(0, 0, 0, .15);
$trans-du: .15s;
