$color-primary: #227C9D;
$color-secondary: #f15bb5;
$color-success: #17C3B2;
$color-warning: #FFCB77;
$color-danger: #FE6D73;
$color-addition: #e7ecef;

$color-text: #444;
$color-text-inverted: #eee;
$color-text-lite: #777;
$color-text-hard: #111;

$color-link: $color-primary;
$color-link-hover: $color-success;
$color-bg: $color-addition;
$color-bg-card: #fefefe; 
$color-info: $color-primary;

$std-mg-sm: 5px;
$std-mg-md: 10px;
$std-mg-lg: 20px;
$std-mg-xl: 40px;

$std-pd-sm: 5px;
$std-pd-md: 10px;
$std-pd-lg: 20px;
$std-pd-xl: 40px;

$border-rad-sm: 3px;
$border-rad-md: 4px;
$border-rad-lg: 6px;
$border-rad-xl: 8px;

$border-1: 1px solid #aaa;

$shadow-md: 1px 1px 3px 3px rgba(0, 0, 0, .05);
$trans-du: .15s;
