.component.img-uploader {
	margin: $std-mg-lg 0;
	padding: $std-pd-lg;
	border: $border-1;
	border-radius: $border-rad-md;

	.img-uploader-container {
		position: relative;
		overflow: hidden;

		.drag-and-drop-curtain {
			background-color: rgba(255, 255, 255, .8);
			color: $color-text;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			font-size: $fsize-lg;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
			opacity: 0;
			visibility: hidden;
			transition-duration: $trans-du;
			transition-property: opacity, visibility;

			.mdi {
				font-size: $fsize-xxl;
				display: block;
			}
		}

		&.drag-and-drop {
			.drag-and-drop-curtain {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.selected-imgs-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: $std-mg-md;

		@include media("max", "sm") {
			grid-template-columns: 1fr 1fr;
		}	
	}

	.add-img, .selected-img {
		background-color: $color-bg;
		width: 100%;
		height: 120px;
		border-radius: $border-rad-md;
		border: $border-1;
		display: flex;
		align-items: center;
		justify-content: center; 
		box-sizing: border-box;
		transition-duration: $trans-du;
		transition-property: background-color;

		@include media("max", "xl") {
			height: 100px;
		}	

		@include media("max", "lg") {
			height: 120px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition-duration: $trans-du;
			transition-property: opacity;
		}

		> .mdi {
			font-size: 26px;
		}
	}

	.add-img {
		cursor: default;

		@include media("max", "xl") {
			flex-direction: column;
			text-align: center;
		}	

		&:hover {
			background-color: $color-bg-card;
		}

		+ .selected-img {
			.btn-move-left {
				display: none;
			}
		}
	}

	.selected-img {
		position: relative;
		background-color: #000;

		.btns-group {
			position: absolute;
			z-index: 1;
			opacity: 0;
			visibility: hidden;
			display: flex;
			flex-direction: row;
			gap: $std-mg-md;
			transition-property: opacity, visibility, color, background-color;
			transition-duration: $trans-du;
		}

		.btn-remove, 
		.btn-move-left {
			box-shadow: $shadow-md;
		}

		.btn-move-left:hover {
			background-color: $color-primary;
			color: $color-text-inverted;
		}

		&:hover {
			.btns-group {
				opacity: 1;
				visibility: visible;
			}

			img {
				opacity: .5;
			}
		}

		&.empty:last-of-type {
			display: none;
		}

		> .mdi {
			display: none;
		}

		&.empty {
			background-color: $color-bg;

			.mdi {
				display: initial;
			}

			.btns-group {
				display: none;
			}
		}

		.upload-progress-bar {
			position: absolute;
			bottom: 0;
			height: 15px;
			width: 100%;
			background-color: rgba(255, 255, 255, .4);
			opacity: 0;
			visibility: hidden;
			transition-duration: $trans-du;
			transition-property: opacity, visibility;

			.bar {
				width: 0;
				height: 100%;
				background-color: #fff;
				transition-duration: $trans-du;
				transition-property: width;
			}
		}

		&.load-process {
			.upload-progress-bar {
				opacity: 1;
				visibility: visible;
			}

			img {
				opacity: .5;
			}

			.btns-group {
				display: none;
			}
		}
	}
}