.component.search-bar {
	.search-field-container {
		display: grid;
		align-items: center;
		position: relative;
		padding: 0;
		margin: 0;

		.search-field {
			padding-right: 58px;
		}

		.submit {
			display: block;
			position: absolute;
			top: auto;
			right: 0;
			width: 34px;
			height: 30px;
			background: transparent;
			border: 0;
			color: $color-text-lite;
			font-size: 20px;
			text-align: center;
			line-height: 30px;
			visibility: hidden;
			opacity: 0;
			z-index: 0;
			transition-duration: $trans-du;
			transition-property: opacity, visibility;

			&:hover {
				color: $color-primary;
			}
		}

		.search-key-slash-box {
			padding: $std-pd-xsm;
			border-radius: $border-rad-sm;
			border: $border-1;
			font-size: $fsize-xsm;
			color: $color-text-lite;
			position: absolute;
	    right: 4px;
    	top: 4px;
	    height: 27px;
    	box-sizing: border-box;
    	z-index: 1;
    	transition-duration: $trans-du;
    	transition-property: opacity, visibility;
		}

		&.infocus {
			.submit {
				opacity: 1;
				visibility: visible;
				z-index: 1;
			}

			.search-key-slash-box {
				opacity: 0;
				visibility: hidden;
				z-index: 0;
			}
		}
	}
}