.component.uadpost-card {
	background-color: $color-bg-card;
	border-radius: $border-rad-lg;
	padding: $std-mg-md;
	max-height: 240px;
	margin-bottom: $std-mg-lg;

	.struct {
		max-height: inherit;
		height: auto;

		&.with-img {
			display: grid;
			grid-template-columns: 240px auto;
			grid-gap: $std-mg-lg;
		}
	}

	.picture {
		height: inherit;
		max-height: inherit;

		a {
			display: block;
			height: 100%;
		}

		.thumb {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			border-radius: $border-rad-lg;
		}
	}

	.description {
		display: flex;
		flex-direction: column;
		gap: $std-mg-md;
		justify-content: center;
	}

	.title {
		border: 0;
		font-size: $fsize-lg;
	}

	.meta-info {
		margin-left: -2px;
		font-size: $fsize-sm;
	}

	.control-bar {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		gap: $std-mg-md;
	}
}