.component.userbar {
	display: grid;
	grid-template-columns: max-content max-content;
	grid-gap: $std-pd-md;
	align-items: center;
	justify-content: end;
	position: relative;

	@include media("max", "xl") {
		justify-content: start;
		box-sizing: border-box;
		padding: $std-pd-lg;
	}

	.userpic-wrapper {
		border-radius: 100%;
		border: $border-1;
		border-color: $color-primary;
		box-sizing: border-box;
		width: 40px;
		height: 40px;
		padding-top: 1px;
		padding-left: 1px;
		
		.userpic-link {
			border: 0;

			.userpic {
				width: 36px;
				height: 36px;
				border-radius: 100%;
			}
		}
	}

	.user-name {
		position: relative;
		padding-right: 25px;

		.user-name-link {
			color: $color-text;
			font-size: $fsize-sm;
			border: 0;
			padding: 0;
	    max-width: 142px;
		}

		.mdi {
			font-size: 20px;
			position: absolute;
			left: auto;
			top: auto;
			margin-left: $std-mg-xsm;
			margin-top: -1px;

			@include media("max", "xl") {
				display: none;
			}
		}
	}

	.user-nav-wrapper {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		box-shadow: 1px 3px 3px rgba(0, 0, 0, .05);
		visibility: hidden;
		opacity: 0;
		transition-duration: $trans-du;
		transition-property: opacity, visibility;

		@include media("max", "xl") {
			opacity: 1;
			visibility: visible;
			box-shadow: none;
		}
	}

	&:hover {
		.user-nav-wrapper {
			opacity: 1;
			visibility: visible;
		}
	}
}