.component.userbar {
	display: grid;
	grid-template-columns: max-content max-content;
	align-items: center;
	grid-gap: $std-pd-md;

	.userpic-wrapper {
		border-radius: 100%;
		border: $border-1;
		border-color: $color-primary;
		box-sizing: border-box;
		width: 44px;
		height: 44px;
		padding-top: 1px;
		padding-left: 1px;
		
		.userpic-link {
			border: 0;

			.userpic {
				width: 40px;
				height: 40px;
				border-radius: 100%;
			}
		}
	}

	.user-name {
		.user-name-link {
			color: $color-text;
		}
	}

	.user-nav-wrapper {
		display: none;
	}
}