.component.nova-poshta-addr-selector {
	position: relative;
	visibility: hidden;
	height: 0;
	@include std-animation-fade($trans-du);
	@include std-animation-hide();

	&.show {
		height: max-content;
		@include std-animation-show();
	}

	.component.preloader {
		&.nova-poshta-department-number-selector-preloader {
			position: absolute;
			width: 100%;
			text-align: center;

			@include preloader-params(3px, $color-text-lite);
		}
	}

	.nova-poshta-department-number-selector-group {
		display: none;
		@include std-animation-fade($trans-du);
		@include std-animation-hide();

		&.show {
			@include std-animation-show();
		}
	}

	.component.select,
	.component.searchable-dropdown {
		.selector {
			.clickable-list {
				max-height: 200px;
			}
		}
	}
}