.component.order-card {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: $std-mg-md;
	padding: $std-pd-md;
	border-radius: $border-rad-lg;
	background-color: $color-bg-card;

	.component.uadpost-card-micro {
		padding: 0;
	}

	.component.local-menu {
		position: absolute;
		right: $std-pd-md;
		top: $std-pd-md;
	}

	.uadpost-info {
		display: flex;
		flex-direction: column;
		gap: $std-mg-md;
	}

	.order-details {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: $std-mg-md;
		align-items: center;
		justify-content: space-between;

		.order-comment {
			width: 100%;
		}
	}
}