.component.order-card {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: $std-mg-md;
	padding: $std-pd-md;
	border-radius: $border-rad-lg;
	background-color: $color-bg-card;

	.component.uadpost-card-micro {
		padding: 0;
	}

	.component.local-menu {
		position: absolute;
		right: $std-pd-md;
		top: $std-pd-md;
	}

	.uadpost-info {
		display: flex;
		flex-direction: column;
		gap: $std-mg-md;
	}

	.order-details {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: $std-mg-md;
		align-items: center;
		justify-content: space-between;

		.order-comment {
			width: 100%;
			height: min-content;

			.customer-userpic {
			  position: relative;
			  top: 2px;
				width: 18px;
			  height: 18px;
				border-radius: 100%;
				display: inline-block;
				background-size: cover;
			}

			.no-matter-text {
				font-size: inherit;
			}
		}

		.order-state-label {
			font-size: $fsize-sm;
		}

		.order-timestamp {
			color: $color-text-lite;
		}
	}
}