.devtools.component.sql-queries {
	table {
		width: 100%;
	}

	.query-string {
		max-width: 800px;

		pre {
			width: 100%;
			white-space: break-spaces;
			overflow-x: auto;
			background-color: $color-text;
			color: $color-text-inverted;
			padding: $std-pd-xsm;
		}
	}
}