.page.view-uadpost {
	.markup {
		display: grid;
		grid-template-columns: 800px auto;
		grid-gap: $std-mg-lg;

		@include media("max", "xl") {
			grid-template-columns: auto;
		}
	}

	.uadpost {
		width: 100%;
		background-color: $color-bg-card;
		padding: $std-mg-lg;
		border-radius: $border-rad-lg;
		box-sizing: border-box;

		@include media("max", "lg") {
			padding: $std-mg-md;
		}

		.component.carousel {
			margin-bottom: $std-mg-xl;
			
			.render-field {
				@include media("max", "sm") {
					height: 300px;
				}
			}
		}

		.header {
			margin-bottom: $std-mg-xl;
			display: flex;
			flex-direction: column;
			gap: $std-mg-md;
		}

		.uadpost-control {
			display: flex;
			flex-direction: row;
			gap: $std-mg-lg;
			align-items: center;
		}

		.content {
			line-height: $fsize-xl;
			margin-bottom: $std-mg-xl;
		}

		.metadata {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		.timestamp {
	    min-width: max-content;
		}

		.labels {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: $std-mg-xsm;
		}

		@include media("max", "sm") {
			.component.btn-buy {
				flex-direction: column;
				padding-right: 0;
				padding-bottom: $std-pd-sm;

				.btn-buy {
					width: 100%;
				}

				.price {
					padding: 0 $std-pd-sm;
				}
			}	

			.metadata {
				align-items: flex-start;
			}
		}
	}

	.sidebar-container {
		display: flex;
		flex-direction: column;
		gap: $std-mg-lg;
	}

	.component.user-card {
		@include media("max", "xl") {
			.btns-group {
				justify-content: flex-start;
				gap: $std-mg-lg;
			}
		}

		@include media("max", "sm") {
			.userpic img {
				width: 60px;
				height: 60px;
			}

			.user-name {
				font-size: $fsize-sm;
			}

			.btns-group {
				gap: $std-mg-md;
			}
		}
	}
}